body {
    background-color: rgb(249, 249, 249);
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 23px;
}
li {
    font-size: 18px;
}
p {
    font-size: 18px;
}

/* Sección "Acerca de" */
#AcercaDe {
    background-color: black;
    color: white;
    h2 {
        color: white;
    }
    footer {
        color: white;
    }
}
